Repository kazimierz-256/ConcurrentScenario, pull requests merged in 2019-06, with the labels that each got.

#29 added parsing of wait true false etc.
  apps/concurrent/modules/logic_tree_parsing.pl
  apps/concurrent/test/logictree.pl
Labels: enhancement, test_passing

#28 Changed nonsensible idle to *REAL* idle
  apps/concurrent/js/prescribed_stories.js
  apps/concurrent/modules/warsaw_standoff.pl
  apps/concurrent/test/warsaw_standoff_story.plt
Labels: merge_me, test_passing

#31 More tests
  apps/concurrent/test/all_tests.pl
  apps/concurrent/test/semi_complex_test.plt
  apps/concurrent/test/simple_concurrent.plt
Labels: test_passing, tests_changed

#32 Make warsaw standoff prescribed stories consistent
  apps/concurrent/js/prescribed_stories.js
Labels: merge_me

#21 Fixed occlusion algorithm and enhanced variable assignment
  apps/concurrent/concurrent.pl
  apps/concurrent/modules/compound_executable.pl
  apps/concurrent/modules/logic_formula_satisfiability.pl
  apps/concurrent/modules/next_state.pl
  apps/concurrent/modules/occlusion.pl
  apps/concurrent/modules/potentially_executable.pl
  apps/concurrent/test/formulaTrue.pl
  apps/concurrent/test/or_story.plt
  apps/concurrent/test/semi_complex_test.plt
Labels: enhancement, help wanted, important, test_passing, tests_changed

#36 Simplified Concurrent.pl redundant potentially_executable calling
  apps/concurrent/concurrent.pl
  apps/concurrent/modules/compound_executable.pl
  apps/concurrent/modules/mns.pl
  apps/concurrent/modules/next_state.pl
Labels: test_passing

#35 Mns tests
  apps/concurrent/modules/mns.pl
  apps/concurrent/test/all_tests.pl
  apps/concurrent/test/mns.plt
Labels: bug, do_not_merge_yet, important, tests_changed

#39 Die bird, die!
  apps/concurrent/test/all_tests.pl
  apps/concurrent/test/tas_tests.plt
Labels: help wanted, merge_me, test_passing

#41 lowercase all user input whilst parsing
  apps/concurrent/modules/query_parsing.pl
  apps/concurrent/modules/user_input_parsing.pl
  apps/concurrent/modules/warsaw_standoff.pl
  apps/concurrent/test/mns.plt
  apps/concurrent/test/simple_story.plt
  apps/concurrent/test/tas_tests.plt
  apps/concurrent/test/user_input_parsing.plt
  apps/concurrent/test/warsaw_standoff_story.plt
Labels: merge_me, test_passing
